.table{
    th{
        padding: 6px 3px;
        background: #652374;
        color:#fff;
        border:1px solid #d8d8d8;
        text-align: center;
        text-transform: uppercase;
    }
    td{
        padding: 6px 3px;
        border:1px solid #d8d8d8;
        text-align: center;
    }
}