<nav class="navbar navbar-expand-lg navbar-light"
[ngClass]="{'bg-light':isInfo, 'bg-warning': isWarning, 'bg-danger':isDanger, 'bg-primary':isBlue}">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pull-end">
          <li class="nav-item" *ngFor="let nav of allNavs">
            <a class="nav-link active"  routerLink={{nav.name}}  routerLinkActive="bg-dark text-light rounded-pill px-3">{{nav.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

